# CMake 
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# except the top-level convenience makefile 
!/Makefile

# editor files
.vscode/**

# build dir
build/*

# executables and library files
mtop
src/**/*.a

# gprof
gmon.out
prof_output
